.orm {
  margin-top: 1rem;
  font-size: 36px;
}
.ormDate {
  color: grey;
  display: block;
  font-size: 22px;
}
.details {
  border: 1px solid teal;
  padding: .5rem;
}
.reps {
  font-size: 64px;
}
.repsX {
  font-size: 48px;
  color: grey;
  padding: 0 16px;
  display: inline-block;
  line-height: 0;
}
.setWeightUnit{
  color: rgb(47, 47, 47);
  padding-left: 3px;
  font-size: 24px;
}
.liftAmount{
  font-size: 64px;
}
.liftUnit {
  font-size: 28px;
}
.ormPercentage {
  margin-bottom: .25rem;
}
.set {
  margin-bottom: 1rem;
}

.ormPercentage {
opacity: .8;
}

.sets {
  margin-left: 1rem;
}
.lift {
  display: 'flex';
  align-items: center;
  justify-content: center;
}
.diffPercentage {
  opacity: .7;
}

.settings {
  font-size: 22px;
}
.graphRow {
  background-color: rgba(71, 0, 125, 0.255);
}