.FAB {
  --size: 72px;
  --half-size: 26px;
  min-width: var(--size);
  width: var(--size);
  min-height: var(--size);
  height: var(--size);
  border-radius: 100%;
  background-color: var(--accent);
  color: black;
  position: fixed;
  bottom: var(--half-size);
  right: var(--half-size);
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: 2px solid var(--accent);
  outline-offset: 4px;
  svg {
    transform: scale(2.5);
  }
}
