.selector {
  padding: 0.25rem 0;
  border-bottom: 0.5px solid var(--bg-medium);
  margin: 0 1rem;
  &:last-child {
    border-bottom: 0;
  }
  label {
    font-size: 0.7rem;
  }
  select {
    width: calc(100%);
    margin-top: -0.25rem;
  }
}
